.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.981934;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.981934;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.767578;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls4{letter-spacing:-0.175600px;}
.ls3{letter-spacing:-0.070000px;}
.ls0{letter-spacing:0.000000px;}
.ls2{letter-spacing:0.014880px;}
.ls1{letter-spacing:0.198400px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{margin-left:-1.256960px;}
._1{width:1.263360px;}
.fc0{color:rgb(0,0,0);}
.fs3{font-size:27.840000px;}
.fs2{font-size:32.160000px;}
.fs0{font-size:36.000000px;}
.fs1{font-size:44.160000px;}
.fs4{font-size:48.000000px;}
.y1{bottom:0.000000px;}
.y29{bottom:2.160000px;}
.y16{bottom:2.280000px;}
.y31{bottom:2.400000px;}
.yc{bottom:3.120000px;}
.y2c{bottom:3.240000px;}
.y18{bottom:3.360000px;}
.y14{bottom:3.480000px;}
.y20{bottom:3.840000px;}
.y17{bottom:4.320000px;}
.y13{bottom:4.440000px;}
.ye{bottom:4.680000px;}
.y42{bottom:4.710000px;}
.y11{bottom:5.640000px;}
.y10{bottom:6.600000px;}
.y1e{bottom:6.960000px;}
.y36{bottom:6.980000px;}
.y1a{bottom:7.560000px;}
.yb{bottom:10.080000px;}
.y3f{bottom:12.000000px;}
.y28{bottom:12.030000px;}
.ya{bottom:12.960000px;}
.y5{bottom:14.640000px;}
.y2b{bottom:16.200000px;}
.y1d{bottom:16.680000px;}
.y35{bottom:16.700000px;}
.y49{bottom:16.800000px;}
.y3e{bottom:21.720000px;}
.y51{bottom:21.744000px;}
.y27{bottom:21.750000px;}
.y9{bottom:22.680000px;}
.y0{bottom:25.000000px;}
.y4b{bottom:25.440000px;}
.y7{bottom:29.640000px;}
.y3d{bottom:31.440000px;}
.y26{bottom:31.470000px;}
.y50{bottom:31.584000px;}
.y8{bottom:32.520000px;}
.y3c{bottom:41.280000px;}
.y4f{bottom:41.304000px;}
.y25{bottom:41.310000px;}
.y3b{bottom:51.000000px;}
.y4e{bottom:51.024000px;}
.y24{bottom:51.030000px;}
.y23{bottom:60.750000px;}
.y3a{bottom:60.840000px;}
.y4d{bottom:60.864000px;}
.y39{bottom:70.560000px;}
.y4c{bottom:70.584000px;}
.y22{bottom:70.590000px;}
.y4a{bottom:104.060000px;}
.y48{bottom:119.780000px;}
.y47{bottom:144.620000px;}
.y46{bottom:158.060000px;}
.y45{bottom:174.740000px;}
.y44{bottom:188.180000px;}
.y43{bottom:201.740000px;}
.y41{bottom:217.460000px;}
.y40{bottom:233.210000px;}
.y4{bottom:286.370000px;}
.y38{bottom:297.170000px;}
.y37{bottom:375.770000px;}
.y34{bottom:391.490000px;}
.y33{bottom:416.350000px;}
.y32{bottom:429.790000px;}
.y30{bottom:446.470000px;}
.y2f{bottom:459.910000px;}
.y2e{bottom:473.470000px;}
.y2d{bottom:489.190000px;}
.y2a{bottom:504.910000px;}
.y3{bottom:558.070000px;}
.y21{bottom:568.870000px;}
.y1f{bottom:647.500000px;}
.y1c{bottom:663.220000px;}
.y1b{bottom:687.940000px;}
.y19{bottom:701.500000px;}
.y15{bottom:718.180000px;}
.y12{bottom:731.620000px;}
.yf{bottom:745.180000px;}
.yd{bottom:760.920000px;}
.y6{bottom:776.640000px;}
.y2{bottom:828.840000px;}
.ha{height:12.960000px;}
.h9{height:13.080000px;}
.h6{height:15.240000px;}
.h7{height:15.264000px;}
.hc{height:16.200000px;}
.hb{height:21.111094px;}
.h8{height:22.375312px;}
.hd{height:24.240000px;}
.h10{height:24.264000px;}
.h12{height:24.360000px;}
.h5{height:25.847344px;}
.h2{height:28.933594px;}
.h3{height:35.491875px;}
.he{height:38.578125px;}
.h4{height:40.080000px;}
.h11{height:78.120000px;}
.hf{height:78.144000px;}
.h1{height:792.500000px;}
.h0{height:841.920000px;}
.w5{width:22.464000px;}
.w1d{width:39.960000px;}
.w12{width:44.400000px;}
.w7{width:45.000000px;}
.w11{width:57.984000px;}
.wf{width:62.424000px;}
.w8{width:67.464000px;}
.wd{width:71.304000px;}
.w1c{width:71.544000px;}
.w9{width:85.200000px;}
.w3{width:93.264000px;}
.wc{width:102.980000px;}
.w18{width:108.020000px;}
.w1a{width:111.980000px;}
.w6{width:112.580000px;}
.w16{width:125.420000px;}
.w4{width:126.860000px;}
.we{width:129.980000px;}
.w14{width:134.330000px;}
.w17{width:153.890000px;}
.w15{width:165.980000px;}
.w1b{width:174.980000px;}
.w10{width:183.980000px;}
.wa{width:201.770000px;}
.w19{width:238.010000px;}
.wb{width:247.010000px;}
.w13{width:552.840000px;}
.w2{width:595.319991px;}
.w0{width:595.320000px;}
.w1{width:595.500000px;}
.x0{left:0.000000px;}
.x5{left:5.400000px;}
.x10{left:7.220000px;}
.x27{left:11.640000px;}
.x21{left:12.840000px;}
.x24{left:14.760000px;}
.x16{left:18.960000px;}
.x23{left:26.160000px;}
.x2{left:27.480000px;}
.x2a{left:34.800000px;}
.x17{left:39.240000px;}
.x1d{left:42.960000px;}
.x20{left:51.510000px;}
.x3{left:53.184000px;}
.x1f{left:62.670000px;}
.x1a{left:67.104000px;}
.x1{left:72.023991px;}
.xb{left:80.040000px;}
.x1c{left:82.920000px;}
.xc{left:84.980000px;}
.x11{left:99.264000px;}
.xe{left:103.100000px;}
.x4{left:120.740000px;}
.x12{left:124.826000px;}
.x1b{left:162.290000px;}
.x28{left:169.710000px;}
.x14{left:178.710000px;}
.xd{left:229.850000px;}
.x6{left:247.610000px;}
.x19{left:253.630000px;}
.x7{left:270.070000px;}
.x25{left:274.630000px;}
.x18{left:276.430000px;}
.x13{left:292.870000px;}
.x1e{left:328.870000px;}
.x8{left:382.660000px;}
.x9{left:427.660000px;}
.x22{left:454.900000px;}
.x26{left:468.340000px;}
.xf{left:477.340000px;}
.xa{left:495.120000px;}
.x15{left:535.920000px;}
.x29{left:540.360000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls4{letter-spacing:-0.234133pt;}
.ls3{letter-spacing:-0.093333pt;}
.ls0{letter-spacing:0.000000pt;}
.ls2{letter-spacing:0.019840pt;}
.ls1{letter-spacing:0.264533pt;}
.ws0{word-spacing:0.000000pt;}
._0{margin-left:-1.675947pt;}
._1{width:1.684480pt;}
.fs3{font-size:37.120000pt;}
.fs2{font-size:42.880000pt;}
.fs0{font-size:48.000000pt;}
.fs1{font-size:58.880000pt;}
.fs4{font-size:64.000000pt;}
.y1{bottom:0.000000pt;}
.y29{bottom:2.880000pt;}
.y16{bottom:3.040000pt;}
.y31{bottom:3.200000pt;}
.yc{bottom:4.160000pt;}
.y2c{bottom:4.320000pt;}
.y18{bottom:4.480000pt;}
.y14{bottom:4.640000pt;}
.y20{bottom:5.120000pt;}
.y17{bottom:5.760000pt;}
.y13{bottom:5.920000pt;}
.ye{bottom:6.240000pt;}
.y42{bottom:6.280000pt;}
.y11{bottom:7.520000pt;}
.y10{bottom:8.800000pt;}
.y1e{bottom:9.280000pt;}
.y36{bottom:9.306667pt;}
.y1a{bottom:10.080000pt;}
.yb{bottom:13.440000pt;}
.y3f{bottom:16.000000pt;}
.y28{bottom:16.040000pt;}
.ya{bottom:17.280000pt;}
.y5{bottom:19.520000pt;}
.y2b{bottom:21.600000pt;}
.y1d{bottom:22.240000pt;}
.y35{bottom:22.266667pt;}
.y49{bottom:22.400000pt;}
.y3e{bottom:28.960000pt;}
.y51{bottom:28.992000pt;}
.y27{bottom:29.000000pt;}
.y9{bottom:30.240000pt;}
.y0{bottom:33.333333pt;}
.y4b{bottom:33.920000pt;}
.y7{bottom:39.520000pt;}
.y3d{bottom:41.920000pt;}
.y26{bottom:41.960000pt;}
.y50{bottom:42.112000pt;}
.y8{bottom:43.360000pt;}
.y3c{bottom:55.040000pt;}
.y4f{bottom:55.072000pt;}
.y25{bottom:55.080000pt;}
.y3b{bottom:68.000000pt;}
.y4e{bottom:68.032000pt;}
.y24{bottom:68.040000pt;}
.y23{bottom:81.000000pt;}
.y3a{bottom:81.120000pt;}
.y4d{bottom:81.152000pt;}
.y39{bottom:94.080000pt;}
.y4c{bottom:94.112000pt;}
.y22{bottom:94.120000pt;}
.y4a{bottom:138.746667pt;}
.y48{bottom:159.706667pt;}
.y47{bottom:192.826667pt;}
.y46{bottom:210.746667pt;}
.y45{bottom:232.986667pt;}
.y44{bottom:250.906667pt;}
.y43{bottom:268.986667pt;}
.y41{bottom:289.946667pt;}
.y40{bottom:310.946667pt;}
.y4{bottom:381.826667pt;}
.y38{bottom:396.226667pt;}
.y37{bottom:501.026667pt;}
.y34{bottom:521.986667pt;}
.y33{bottom:555.133333pt;}
.y32{bottom:573.053333pt;}
.y30{bottom:595.293333pt;}
.y2f{bottom:613.213333pt;}
.y2e{bottom:631.293333pt;}
.y2d{bottom:652.253333pt;}
.y2a{bottom:673.213333pt;}
.y3{bottom:744.093333pt;}
.y21{bottom:758.493333pt;}
.y1f{bottom:863.333333pt;}
.y1c{bottom:884.293333pt;}
.y1b{bottom:917.253333pt;}
.y19{bottom:935.333333pt;}
.y15{bottom:957.573333pt;}
.y12{bottom:975.493333pt;}
.yf{bottom:993.573333pt;}
.yd{bottom:1014.560000pt;}
.y6{bottom:1035.520000pt;}
.y2{bottom:1105.120000pt;}
.ha{height:17.280000pt;}
.h9{height:17.440000pt;}
.h6{height:20.320000pt;}
.h7{height:20.352000pt;}
.hc{height:21.600000pt;}
.hb{height:28.148125pt;}
.h8{height:29.833750pt;}
.hd{height:32.320000pt;}
.h10{height:32.352000pt;}
.h12{height:32.480000pt;}
.h5{height:34.463125pt;}
.h2{height:38.578125pt;}
.h3{height:47.322500pt;}
.he{height:51.437500pt;}
.h4{height:53.440000pt;}
.h11{height:104.160000pt;}
.hf{height:104.192000pt;}
.h1{height:1056.666667pt;}
.h0{height:1122.560000pt;}
.w5{width:29.952000pt;}
.w1d{width:53.280000pt;}
.w12{width:59.200000pt;}
.w7{width:60.000000pt;}
.w11{width:77.312000pt;}
.wf{width:83.232000pt;}
.w8{width:89.952000pt;}
.wd{width:95.072000pt;}
.w1c{width:95.392000pt;}
.w9{width:113.600000pt;}
.w3{width:124.352000pt;}
.wc{width:137.306667pt;}
.w18{width:144.026667pt;}
.w1a{width:149.306667pt;}
.w6{width:150.106667pt;}
.w16{width:167.226667pt;}
.w4{width:169.146667pt;}
.we{width:173.306667pt;}
.w14{width:179.106667pt;}
.w17{width:205.186667pt;}
.w15{width:221.306667pt;}
.w1b{width:233.306667pt;}
.w10{width:245.306667pt;}
.wa{width:269.026667pt;}
.w19{width:317.346667pt;}
.wb{width:329.346667pt;}
.w13{width:737.120000pt;}
.w2{width:793.759988pt;}
.w0{width:793.760000pt;}
.w1{width:794.000000pt;}
.x0{left:0.000000pt;}
.x5{left:7.200000pt;}
.x10{left:9.626667pt;}
.x27{left:15.520000pt;}
.x21{left:17.120000pt;}
.x24{left:19.680000pt;}
.x16{left:25.280000pt;}
.x23{left:34.880000pt;}
.x2{left:36.640000pt;}
.x2a{left:46.400000pt;}
.x17{left:52.320000pt;}
.x1d{left:57.280000pt;}
.x20{left:68.680000pt;}
.x3{left:70.912000pt;}
.x1f{left:83.560000pt;}
.x1a{left:89.472000pt;}
.x1{left:96.031988pt;}
.xb{left:106.720000pt;}
.x1c{left:110.560000pt;}
.xc{left:113.306667pt;}
.x11{left:132.352000pt;}
.xe{left:137.466667pt;}
.x4{left:160.986667pt;}
.x12{left:166.434667pt;}
.x1b{left:216.386667pt;}
.x28{left:226.280000pt;}
.x14{left:238.280000pt;}
.xd{left:306.466667pt;}
.x6{left:330.146667pt;}
.x19{left:338.173333pt;}
.x7{left:360.093333pt;}
.x25{left:366.173333pt;}
.x18{left:368.573333pt;}
.x13{left:390.493333pt;}
.x1e{left:438.493333pt;}
.x8{left:510.213333pt;}
.x9{left:570.213333pt;}
.x22{left:606.533333pt;}
.x26{left:624.453333pt;}
.xf{left:636.453333pt;}
.xa{left:660.160000pt;}
.x15{left:714.560000pt;}
.x29{left:720.480000pt;}
}
