@using PropertyManagementSystem.Helpers;
@{
    string DataTableColumns = "{ \"data\": \"ID\",\"searchable\": false,\"bSortable\": true,\"bVisible\": false},{ \"data\": \"Name\"},{ \"data\": \"Status\"},{ \"data\": \"CreatedDateTime\"},{ \"data\": \"UpdatedDateTime\"}";
    if (ViewBag.AllowAdding != null || ViewBag.AllowEditing != null || ViewBag.AllowDeleting != null)
    {
        ViewBag.DataTableActionColumn = "4";
        DataTableColumns += ",{ \"data\": \"ID\",\"searchable\": false,\"bSortable\": false}";
    }
    ViewBag.DataTableColumns = DataTableColumns;
}
@section LinkStyleSection{
    @Styles.Render("~/assets/cache/datatablestyle")
}
@section LinkScriptSection{
    @Scripts.Render("~/assets/cache/datatablescript")
}
@section InLineScriptSection{
    @{Html.RenderPartial("JScript");}
}
@{Html.RenderPartial("BreadCrumb");}
<!--Page content-->
<!--===================================================-->
<div id="page-content">
    <div class="panel">
        <div class="panel-body">
            <table class="table table-striped table-bordered record-table" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th class="min-desktop">Status</th>
                        <th class="min-desktop">Created</th>
                        <th class="min-desktop">Updated</th>
                        @if (ViewBag.DataTableActionColumn != null)
                        {
                            <th data-priority="2">Actions</th>
                        }
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <!--===================================================-->
    <!-- End Striped Table -->
</div>
<!--===================================================-->
<!--End page content-->